altgraph==0.17.2
click==8.0.1
colorama==0.4.4
contextlib2==21.6.0
Flask==2.0.1
future==0.18.2
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
msgpack==1.0.2
mysql-connector-python==8.0.26
neovim==0.3.1
pefile==2021.9.3
Pillow==8.3.2
protobuf==3.17.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pynvim==0.4.3
python-dotenv==0.19.1
python-http-client==3.3.3
pywin32-ctypes==0.2.0
schema==0.7.4
sendgrid==6.8.3
six==1.16.0
starkbank-ecdsa==1.1.1
Werkzeug==2.0.1
