<div class='center padded white-bg'>
    <div class='content padded'>
        <div class='padded'>
            <h1>¿No estás convencido?       ¡Estos son algunos de mis trabajos!</h1>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>Mailer app</h3>
                <p>Una aplicación capaz de enviar correos utilizando la API de Sendgrid.</p>
                <a class='orange' target='_blank' href='https://peaceful-stream-10295.herokuapp.com'>Link Aqui</a>
            </div>
            <div class='card third'>
                <h3>Gestor de clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a class='orange' href='{{ url_for('static', filename='libreta-clientes.exe') }}'>Link Aqui</a>
            </div>
            <div class='card third'>
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar mis tareas.</p>
                <a class='orange' href='{{ url_for('static', filename='db.exe')}}'>Link Aqui</a>
            </div>
        </div>    
    </div>
</div>